<table>
  <tr>
    <td colspan="2">
      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Single Multipart Upload
    </td>
    <td>
      <button (click)="handleSingleMultipartUpload()">Upload</button>
    </td>
  </tr>
  <tr>
    <td>
      Single Multipart Upload with Additional Content
    </td>
    <td>
      <button (click)="handleSingleMultipartAdditionalContentUpload()">Upload</button>
    </td>
  </tr>
  <tr>
    <td>
      Single Multipart Upload
    </td>
    <td>
      <button (click)="handleSingleMultipartUpload()">Upload</button>
    </td>
  </tr>
  <tr>
    <td>
      Binary Upload
    </td>
    <td>
      <button (click)="handleBinaryUpload()">Upload</button>
    </td>
  </tr>
  <tr>
    <td>
      Base64 encoded with JSON envelope
    </td>
    <td>
      <button (click)="handleBase64Upload()">Upload</button>
    </td>
  </tr>
</table>
